<div class="big-logo"></div>

<article class="about-ubermicro">
  UberMicro is my App Academy capstone project. It is meant to clone the basic functionality of goodreads, although clearly with some "minor" differences. I will also give a shout out to <a href="http://www.giantbomb.com/">giantbomb</a> whose api helped me get a ton of awesome video game information.
</article>
