<main class="profile-page">

  <h2 class="profile-header"><%= user.escape("name")%>'s profile</h2>

  <figure class="profile-picture">
    <img src="<%= user.escape("avatar_url") %>" alt="profile picture" />
  </figure>

  <form class="avatar-upload-form">
    <label for="input-user-avatar">Upload Avatar
      <input type="file" name="user[avatar]" id="input-user-avatar">
    </label>
    <button>submit</button><br>
  </form>

  <% if (user.get("created_at")) { %>
    <figure class="profile-info">
      <span>name          <%= user.escape("name")%></span>
      <span>joined        <%= Date.parse(user.escape("created_at").slice(0, -5)).toString('MMMM d, yyyy') %></span>
    </figure>
  <% } %>
</main>
