<% if !signed_in? %>
<span class="sign-up-banner">
  <div class="sign-up-container group">
    <strong>Play Your Next Favorite Video Game.</strong>
    <h2>Create an Account</h2>
    <form action="<%= users_url %>" method="post">
      <%= auth_token %>
      <input type="text" name="user[name]" value="<%= @user.name %>" placeholder="name">

      <input type="text" name="user[email]" value="<%= @user.email %>" placeholder="email">

      <input type="password" name="user[password]" placeholder="password">

      <button>Sign Up</button>

      <p>or <a href="/auth/google_oauth2">Sign in with Google</a></p>
    </form>
  </div>
</span>
<% end %>

<div class="background-img-container">
  <img src="http://i.imgur.com/2D2aJVc.jpg" class="background-img" alt="" />
</div>
<div id="content"></div>
