<div class="gb-game-image-container">
  <img src="<%= game.escape("image_url") %>" alt="game image" />
</div>

<button class="add-game-to-ubermicro">add to UberMicro</button>

<h3><%= game.escape("title") %></h3>


<p>
  <%= game.escape("description") %>
</p>
