<nav class="page-nav group">
  <button class="previous-page-button">previous</button>
  <span>Page
    <% if (games.total_pages === 0) {%>
      0
    <% } else { %>
      <%= games.current_page %>
    <% } %>
    of <%= games.total_pages %></span>
  <button class="next-page-button">next</button>
</nav>

<section class="games-list"></section>

<% if (games.total_pages === 0) { %>
  <section class="add-game-container">
    <h3>Couldn't Find the Game You Where Looking For?</h3>
    <p>
      try to add it to our data base ––>
    </p>
    <button class="search-gb-button">search</button>
  </section>

<% } %>
