<header class="my-games-header group">
  <span class="title">title</span>
  <span class="genre">genre</span>
  <span class="company">company</span>
  <span class="list">list</span>
  <span class="avg_rating">avg rating</span>
  <span class="my_rating">my rating</span>
</header>
<section class="my-games-list"></section>
