<header class="my-games-header group">
  <span class="title">Title</span>
  <span class="genre">Genre</span>
  <span class="company">Company</span>
  <span class="list">List</span>
  <span class="avg_rating">Avg Rating</span>
  <span class="my_rating">My Rating</span>
</header>
<section class="my-games-list"></section>
