/* reset */

h1, h2, h3, h4, h5,
body, html, nav, div,
span, figure, section,
strong, button, li, ul,
p, a, input {
  padding: 0;
  margin: 0;
  border: 0;
  outline: 0;

  box-sizing: inherit;
  font: inherit;
  text-decoration: inherit;
  text-align: inherit;
  color: inherit;
  background: transparent;
}

ul {
  list-style: none;
}

/* utils */

.group:after {
  content: "";
  clear: both;
  display: block;
}

/* basic styles */

input {
  background: white;
  border: 1px solid #ccc;
  width: 150px;
}

h1 {
  font-size: 36px
}

h2 {
  font-size: 24px
}

h3 {
  font-size: 18px
}

body {
  font-family: sans-serif;
  font-size: 18px;
}

button {
  cursor: pointer;
  border: 1px solid #6ef0e6;
  background: #00fff9;
  border-radius: 5px;
  padding: 3px;
}

/* nav */

#main-nav {
  background: #00b8ff;
}

#main-nav .search-box-container {
  float: left;
  margin: 25px 20px;
}

.search-field {
  border-right: 0;
  margin-right: 0;
  float: left;
}

.search-box-button {
  background: white;
  width: 15px;
  height: 15px;
  border: 1px solid #ccc;
  border-radius: 0;
}

.search-box-button:hover {
  background: #0072bb;
}

#main-nav .logo {
  float: left;
  padding: 16px 20px;
}

#main-nav .nav-links {
  float: right;
  margin: 25px 20px;
}

#main-nav .sign-in-form {
  float: right;
  margin: 19px
}

#main-nav .sign-out-button {
  float: right;
  margin: 25px 20px;
}

#main-nav .sign-in-form button {
  border: 1px solid #000;
  background: #d3ffe1;
  border-radius: 5px;
  padding: 3px;
}

#main-nav .sign-in-form input {
  height: 20px;
}

/* games index */

.games-list {
  margin: auto;
  width: 500px;
  padding-top: 40px;
}
