/* reset */

h1, h2, h3, h4, h5,
body, html, nav, div,
span, figure, section,
strong, button, li, ul,
p, a, input, small, textarea,
header, span, em {
  display: block;
  padding: 0;
  margin: 0;
  border: 0;
  outline: 0;

  box-sizing: inherit;
  font: inherit;
  text-decoration: inherit;
  text-align: inherit;
  color: inherit;
  background: transparent;
}

a {
  display: inline;
}

ul {
  list-style: none;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

/* utils */

.group:after {
  content: "";
  clear: both;
  display: block;
}

/* basic styles */

input {
  background: white;
  border: 1px solid #ccc;
  width: 146px;
  height: 24px;
  font-size: 16px;
  padding: 2px 5px;
}

h1 {
  font-size: 36px
}

h2 {
  font-size: 24px
}

h3 {
  font-size: 18px
}


body {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
}

button {
  display: block;
  cursor: pointer;
}

/* background img */

.background-img {
  min-height: 100%;
  min-width: 1024px;

  /* Set up proportionate scaling */
  width: 100%;
  height: auto;

  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;

  z-index: -2;
}

/* logo */

.logo-main-container {
  width: 180px;
  height: 40px;
  float: left;
  padding: 15px 5px 5px 5px;
}

.logo-main-container > img {
  display: block;
}

/* header */

.header {
  background: #000;
  position: fixed;
  z-index: 2;
  left: 0;
  top: 0;
  width: 100%;
}

.anchor {
  height: 60px;
  width: 60px;
  margin: 0 auto;
  background: transparent;
}

/* nav */

#main-nav {
  margin: auto;
  width: 1000px;
  color: white;
}

.search-box-container {
  float: left;
  margin: 20px 20px 10px 20px;
  color: #000;
}

.search-field {
  border-right: 0;
  margin-right: 0;
  float: left;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.search-box-button {
  background: white;
  width: 28px;
  height: 28px;
  border: 1px solid #ccc;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.search-box-button:hover {
  background: #0072bb;
}

.logo {
  float: left;
  padding: 14px 20px 5px 0px;
}

.nav-links {
  float: right;
  margin: 25px 20px 10px 20px;
  position: relative;
}

.nav-links:hover {
  color: #0072bb;
}

.user-link {
  cursor: pointer;
}

.user-link:hover {
  color: #0072bb;
}

.sign-in-form {
  float: right;
  margin-top: 20px;
}

.guest-button-container {
  float: right;
}

.guest-sign-in-button {
  background: #fff;
  border-radius: 5px;
  color: #000;
  padding: 5px;
  margin-left: 10px;
}

.sign-in-form > form > input {
  float: left;
  margin: 0px 5px 0 0px;
  border-radius: 5px;
  color: #000;
}

.sign-in-form > form {
  float: left;
}

.sign-out-button {
  float: right;
  margin: 20px 20px 10px 20px;
  background: #fff;
  color: #000;
  border-radius: 5px;
  padding: 5px;
}

.sign-out-button:hover,
.sign-in-form > form > button:hover,
.guest-sign-in-button:hover,
.sign-up-container > form > button:hover,
.submit-comment-button:hover {
  background: #0072bb;
}

.sign-in-form > form > button {
  background: #fff;
  border-radius: 5px;
  padding: 5px;
  float: left;
  margin-left: 10px;
  color: #000;
}



/* sign-up container*/

.sign-up-banner {
  background: rgba(0, 0, 0, 0.25);

  /* uncomment for image */
  /*background-image: url(http://s62.podbean.com/pb/319ac0c633d3d714e347cd99c2b8eb72/55ac6da7/data4/blogs32/608109/uploads/video_games_1.jpg);
  background-size: cover;
  height: 500px;*/
}


.sign-up-container {
  width: 960px;
  opacity: 1;
  margin: 0 auto;
  padding: 20px 20px 0px 20px;
}

.sign-up-container > strong {
  font-size: 50px;
  font-weight: 700;
  width: 600px;
  margin-left: 15px;
  margin-top: 30px;
  float: left;
  text-align: center;
  letter-spacing: 3px;
}

.sign-up-container > h2 {
  float: right;
  margin-right: 60px;
}

.sign-up-container > form {
  clear: right;
  float: right;
  margin-right: 20px;
}

.sign-up-container > form > input {
  width: 250px;
  margin: 5px;
  border-radius: 5px;
}

.sign-up-container > form > button {
  margin: 5px auto;
  padding: 5px;
  background: #fff;
  border-radius: 5px;
}


.sign-up-container > form > small {
  margin: 0 auto;
  font-size: 14px;
  width: 20px;
}

/* sign up modal */

.screen-fill {
  position: fixed;
  top: 0;
  left: 0;
  background: #000;
  opacity: .5;
  width: 100%;
  height: 100%;
  z-index: 3;
}

.game-choices-container {
  width: 800px;
  min-height: 200px;
  background: #fff;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  top: 0;
  z-index: 4;
}


/* games index */

.want-button-options-list {
  position: absolute;
  display: none;
  border-radius: 10px;
  background: #fff;

  /*box-shadow: 3px 3px 1px 2px #000;*/

  right: -220px;
  top: 0;
  min-width: 200px;
  padding: 5px;
}

.want-button-options-list > li {
  padding: 5px;
}

.want-button-options-list > li:not(.disabled-option):not(#add-list):hover {
  color: #0072bb;
  cursor: pointer;
}

#add-list-text {
  margin-left: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
}

#add-list-text:hover {
  color: #0072bb;
  cursor: pointer;
}

#list-form > input {
  clear: both;
  float: left;
  height: 21px;
  width: 130px;
}

#list-form-submit-button {
  float: left;
  min-width: 27px;
  height: 27px;
  background: #000;
}

#list-form-submit-button:hover {
  background-color: #0072bb;
}

li.disabled-option {
  color: #aaa;
  opacity: .75;
}

li.disabled-option:hover {
  cursor: default;
}

.want-button-options-list:after {
  content: " ";

  position: absolute;
  top: 18px;
  left: -10px;

  border-top: 10px solid transparent;
  border-right: 10px solid #fff;
  border-bottom: 10px solid transparent;
  border-left: 0 solid #fff;
}


.want-button-options {
  position: relative;
  z-index: 1;
  width: 31px;
  height: 31px;
  background: linear-gradient(to bottom, #c9de96 0%,#8ab66b 44%,#398235 100%);
  border-left: 1px solid #217606;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.want-button-options:active {
  background: #0072bb;
}

.want-button {
  position: relative;
  z-index: 1;
  background: linear-gradient(to bottom, #c9de96 0%,#8ab66b 44%,#398235 100%);
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  padding: 5px;
}

button.disabled-want-button {
  background: linear-gradient(to bottom, #fcfff4 0%,#dfe5d7 40%,#b3bead 100%);;
}

.games-list {
  margin: auto;
  width: 500px;
}

.game-instance {
  position: relative;
  margin: 20px;
  padding: 10px;
  background: #fff;
  border-radius: 5px;
  max-width: 700px;
  margin: 20px auto;
}

.game-instance button {
  float: right;
}

.game-description {
  clear: both;
  margin-top: 10px;
}

.feed-game-info {
  position: relative;
  left: 5px;
}

.show-game-info {
  position: relative;
  left: 5px;
}

.game-rec {
  display: inline;
  font-size: 18px;
  font-weight: 700;
}

.game-rec:hover,
.game-title:hover,
.game-company > a:hover,
.game-genre > strong:hover {
  color: #0072bb;
}

.game-title {
  display: block;
  font-size: 18px;
  font-weight: 700;
  clear: right;
}

.game-company {
  font-size: 14px;
}

.game-genre {
  font-size: 14px;
}

.game-genre > strong {
  display: inline;
  font-size: 18px;
  font-weight: 700;
}

.add-game-container {
  margin: 0 auto;
  width: 480px;
  background: #fff;
  border-radius: 5px;
  padding: 5px;
}

.game-image-container {
  width: 80px;
  float: left;
  margin-top: 10px;
  max-height: 120px;
  overflow: hidden;
}

.jrating {
  font-size: 14px;
  margin: 5px;
  clear: left;
  float: left;
}

.jrating-avg {
  font-size: 14px;
  float: left;
}

.jrating-avg > div,
.jrating > div {
  display: inline;
}

.search-gb-button {
  margin: 5px auto;
  padding: 5px;
  border-radius: 5px;
  font-size: 18px;
  background: linear-gradient(to bottom, #c9de96 0%,#8ab66b 44%,#398235 100%);
}

.search-gb-button:active {
  background: #0072bb;
}

/* comments */

.comments-container {
  margin-left: 20px;
}

.game-comments-list > li {
  padding: 10px;
  margin: 10px;
  background: #fff;
  max-width: 300px;
  min-height: 60px;
  border-radius: 5px;
}

.comment-input-box textarea {
  padding: 10px;
  margin-left: 10px;
  margin-top: 5px;
  background: #fff;
  resize: vertical;
  width: 300px;
  border-radius: 5px;
}

.avatar-thumb {
  display: block;
  width: 100%;
  height: auto;
}

.avatar-thumb-container {
  float: left;
  width: 60px;
  margin: 0px 10px 10px 0;
  border: 3px solid black;
  border-radius: 5px;
}

.comment-input-box {
  width: 350px;
}

.game-comments-list > h3 {
  margin-top: 20px;
}

.game-comments-list > li > small {
  float: right;
  font-size: 14px;
}

.game-comments-list > li > p {
  clear: right;
}

.submit-comment-button {
  float: right;
  background: #fff;
  border-radius: 5px;
  padding: 5px;
  margin-right: 20px;
  margin-top: 10px;
}

/* game search nav */

.page-nav {
  margin: 20px auto;
  width: 300px;
}

.page-nav > span {
  float: left;
  margin-left: 10px;
  padding: 5px 12px;
  background: linear-gradient(to bottom, #c9de96 0%,#8ab66b 44%,#398235 100%);
}

.previous-page-button {
  float: left;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  background: linear-gradient(to bottom, #c9de96 0%,#8ab66b 44%,#398235 100%);
  padding: 5px 10px;
}

.next-page-button {
  float: right;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  background: linear-gradient(to bottom, #c9de96 0%,#8ab66b 44%,#398235 100%);
  padding: 5px 20px;
}

.previous-page-button:active,
.next-page-button:active {
  background: #0072bb;
}

/* gb game search results */

.gb-game-instance {
  padding: 5px;
  margin: 10px auto;
  background: #fff;
  width: 500px;
  min-height: 100px;
  border-radius: 5px;
}

.gb-game-image-container {
  width: 80px;
  float: left;
  margin: 10px;
}

.gb-game-instance > h3 {
  float: right;
  clear: right;
  font-size: 24px;
  padding: 5px;
  font-weight: 700;
}

.add-game-to-ubermicro {
  float: right;
  background: linear-gradient(to bottom, #c9de96 0%,#8ab66b 44%,#398235 100%);
  padding: 5px;
  font-size: 18px;
  border-radius: 5px;
  margin: 5px;
}

.add-game-to-ubermicro:active {
  background: #0072bb;
}

.gb-game-instance > p {
  clear: both;
}

/* myGames */

.my-games-container {
  margin: 10px auto;
  width: 1000px;
  padding: 20px;
  border-radius: 5px;
  background: rgba(0, 0, 0, 0.25);
}

.my-games-header > span {
  float: left;
  width: 100px;
}

.my-game-instance > span {
  margin-top: 5px;
  float: left;
  width: 100px;
  border-bottom: 1px solid #000;
  height: 22px;
  overflow: hidden;
}

span.company {
  width: 150px;
}

span.title {
  width: 300px;
}

span.genre {
  width: 150px;
}

span.list {
  width: 200px;
}

.my-games-header {
  border-bottom: 1px solid #000;
}

/* user profile */
.profile-page {
  position: relative;
  width: 550px;
  margin: 0 auto;
}
.profile-header {
  float: right;
}

.profile-picture {
  margin-top: 20px;
  width: 200px;
  border: 2px solid black;
  border-radius: 5px;
  float: left;
}

.avatar-upload-form {
  position: absolute;
  top: 235px;
  left: 0;
}

.avatar-upload-form > button {
  position: relative;
  top: 3px;
  margin-left: 10px;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
  background-color: #fff;
}

.avatar-upload-form > button:hover {
  background-color: #0072bb;
}

.avatar-upload-form > button,
.avatar-upload-form > input {
  display: inline;
}

.profile-info {
  float: right;
  width: 320px;
}

.profile-info > small {
  float: left;
  clear: left;
  padding: 5px 0px;
}

.profile-info > input {
  float: right;
  clear: right;
  margin: 5px 0px;
}

.profile-info > small:not(.profile-joined):hover {
  color: #0072bb;
  cursor: pointer;
}

.profile-info > strong {
  float: right;
  clear: right;
  padding: 5px 0px;
  font-weight: 700;
}

.profile-picture:hover {
  box-shadow: 0px 0px 40px #0072bb;
  cursor: pointer;
}

#input-user-avatar {
  padding: 5px;
  width: 220px;
  background: #fff;
  border-radius: 5px;
}

/* about */

.about-ubermicro {
  width: 600px;
  background: #f4b742;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  bottom: 180px;
  padding: 20px;
  border-radius: 10px;
  letter-spacing: 2px;
}

.about-ubermicro > a {
  text-decoration: underline;
}

.about-ubermicro > a:hover {
  color: #0072bb;
}

.
/* on/off */
.active {
  display: block;
}

.inactive {
  display: none;
}
